@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Schoolbell&v1" rel="stylesheet');

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2acac;
  font-family: 'Mochiy Pop P One', sans-serif;
}

/*first page*/
.card-front {
  position: relative;
  background-color: #fff0f3;
  width: 280px;
  height: 300px;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 30px 10px 50px rgba(0,0,0,0.3);
}

.card-inside {
  position: relative;
  background-color: #fff0f3;
  width: 300px;
  height:300px;
  z-index:-1;
  left:0;
  top:0;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,0.22), 100px 20px 100px rgba(0,0,0,0.1);
}

.text-one:before, .btn:after {
  position: absolute;
  text-align: center;
  width:300px;
}

.text-one {
  position: absolute;
  color: #333;
  font-size: 25px;
  top:20px;
  width:300px;
  text-align: right;
}

.text-one:before {
  content:"Valentine's?";
  top: 200px;
  left: 142px;
  color: #d04e4e;
}

.btn {  
  position: absolute;
  right: -65px;
  top: 300px;
  padding: 10px;
}
  
.btn a {
  box-sizing: border-box;
  font-family: 'Schoolbell', arial, serif; ;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 0.1px 15px;
  border-radius: 5px;
  border: 0.3px solid;
  box-shadow: 0.5rem 1rem 3rem hsla(0, 0%, 0%, 0.3);
}

.opening-text {
  position: absolute;
  color: #333;
  font-size: 26px;
  top:160px;
  width:300px;
  left: 90px;
  text-align: right;
}

.opening-text::before{
  content: "Will you be my";
}

.Dancin-cat {
  position: relative;
  width: 50%;
  height: 100%;
  z-index:-1;
  left:0;
  top:0;
}
